@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=edd345&c2=9362d8&gt=l&gd=dtr
*/
background: #EDD345;
background: fixed linear-gradient(45deg, #EDD345, #9362D8);
}

nav{
    font-family: 'Oswald';
    height: 95px;
}

.koor{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 12.5%;
    margin-left: 12.5%;
    h4{
        text-align: justify;
    }
}