@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f701ff&c2=4f01fe&gt=r&gd=dcc
*/
background: rgba(247, 1, 255, 1.0);
background: fixed radial-gradient(at center, rgba(247, 1, 255, 1.0), rgba(79, 1, 254, 1.0));
}

nav{
    font-family: 'Oswald';
    height: 95px;
    /* position: sticky; */
}

.nadpis{
    margin-top: 50px;
    margin-left: 18%;
    #h1{
        color: white;
        margin-left:12.5%;
    }
    #h4{
        color: white;
    }
}

.flex1{
    font-family: 'Rubik';
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 10px;
    .opis{
        margin-top: 20px;
        #h2{
            text-align: justify;
            color: white;
        }
        #but1{
            width: 30%;
            height: 15%;
            margin-top: 30px;
            margin-left: 30%;
            font-size: 19px;
            border-radius: 0%;
        }
        /* .btn-primary:hover::after{
            position: relative;
            background-color: azure;
            border-radius: 50%;
        } */
    }
}

.flex2{
    font-family: 'Rubik';
    display:flex;
    flex-direction: row;
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 10px;
    .opis2{
        margin-top: 20px;
        #h21{
            text-align: justify;
        }
        #but2{
            width: 30%;
            height: 15%;
            margin-top: 30px;
            margin-left: 30%;
            font-size: 19px;
            border-radius: 0%;
        }
    }
    
}

.flex3{
    font-family: 'Rubik';
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 10px;
    .opis3{
        margin-top: 20px;
        #h22{
            text-align: justify;
            color: white;
        }
        #but3{
            width: 30%;
            height: 15%;
            margin-top: 30px;
            margin-left: 30%;
            font-size: 19px;
            border-radius: 0%;
        }
    }
}

.footer {
  position: absolute;
  margin-top: 100px;
  left: 0;
  right: 0;
  padding: 2rem;
  background: purple;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

@media(max-width: 450px){
    #but1{
        width: 15%;
        height: 5px;
        font-size: 10px;
    }
    #but2{
        width: 15%;
        height: 5px;
        font-size: 10px;
    }
    #but3{
        width: 15%;
        height: 5px;
        font-size: 10px;
    }
    .flex1{
        flex-direction: column;
        font-size: 1px;
        margin-left: 15px;
        margin-right: 15px;
        /* img{
            margin-left: 20%;
            margin-right: 20%;
        } */
    }
    .flex2{
        flex-direction: column;
        font-size: 1px;
        margin-left: 15px;
        margin-right: 15px;
        /* img{
            margin-left: 20%;
            margin-right: 20%;
        } */
    }
    .flex3{
        flex-direction: column;
        font-size: 1px;
        margin-left: 15px;
        margin-right: 15px;
        /* img{
            margin-left: 20%;
            margin-right: 20%;
        } */
    }
    .nadpis{
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
    }
    .footer {
      left: 0px;
      right: 0px;
    }

    nav{
        left: 0px;
        right: 0px;
    }
}

@media(max-width: 600px){
    #but1{
        width: 15%;
        height: 5px;
        font-size: 10px;
    }
    #but2{
        width: 15%;
        height: 5px;
        font-size: 10px;
    }
    #but3{
        width: 15%;
        height: 5px;
        font-size: 10px;
    }
    .flex1{
        flex-direction: column;
        font-size: 10px;
        margin-left: 15px;
        margin-right: 15px;
        img{
            margin-left: 20%;
            margin-right: 20%;
        }
    }
    .flex2{
        flex-direction: column;
        font-size: 10px;
        margin-left: 15px;
        margin-right: 15px;
         img{
            margin-left: 20%;
            margin-right: 20%;
        }
    }
    .flex3{
        flex-direction: column;
        font-size: 10px;
        margin-left: 15px;
        margin-right: 15px;
         img{
            margin-left: 20%;
            margin-right: 20%;
        }
    }
    .nadpis{
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
    }
}