@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f701ff&c2=4f01fe&gt=r&gd=dcc
*/
background: rgba(247, 1, 255, 1.0);
background: fixed radial-gradient(at center, rgba(247, 1, 255, 1.0), rgba(79, 1, 254, 1.0));
}

nav{
    font-family: 'Oswald';
    height: 95px;
    /* position: sticky; */
}

.nadpis{
    margin-top: 50px;
    margin-left: 18%;
    #h1{
        color: white;
        margin-left:12.5%;
    }
    #h4{
        color: white;
    }
}

.flex1{
    font-family: 'Rubik';
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 10px;
    .opis{
        margin-top: 20px;
        #h2{
            text-align: justify;
            color: white;
        }
        #but1{
            width: 30%;
            height: 15%;
            margin-top: 30px;
            margin-left: 30%;
            font-size: 19px;
            border-radius: 0%;
        }
        /* .btn-primary:hover::after{
            position: relative;
            background-color: azure;
            border-radius: 50%;
        } */
    }
}

.flex2{
    font-family: 'Rubik';
    display:flex;
    flex-direction: row;
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 10px;
    .opis2{
        margin-top: 20px;
        #h21{
            text-align: justify;
        }
        #but2{
            width: 30%;
            height: 15%;
            margin-top: 30px;
            margin-left: 30%;
            font-size: 19px;
            border-radius: 0%;
        }
    }
    
}

.flex3{
    font-family: 'Rubik';
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 10px;
    .opis3{
        margin-top: 20px;
        #h22{
            text-align: justify;
            color: white;
        }
        #but3{
            width: 30%;
            height: 15%;
            margin-top: 30px;
            margin-left: 30%;
            font-size: 19px;
            border-radius: 0%;
        }
    }
}